$accent: #6533b1;
$accentdark: #8c4aef;
$accentsecondary: #8c4aef;
$shadow: rgba(0, 0, 0, 0.1);
$darkshadow: rgba(0, 0, 0, 0.5);
$lightgray: lightgray;
$darkgray: gray;
$silver: #f0f2f5;
$lightbluesmoke: #c7ecee;
$darkback: #130f40;
$footeraccent: #14142f;
$footertext: #f0f2f5;
